@keyframes animatesvg {
    to{
        transform: translate(-50%,-10px);
    }
}

@keyframes upanddown {
    to{
        transform: translateY(-5px);
    }
}

@keyframes updown {
    to{
        transform: translateY(-10px);
    }
}